body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #878787;
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
li {
  list-style: none;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 25px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 20px;
  margin-top: 2opx;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.farenheit {
  text-decoration: none;
}
#info {
  margin-top: 20px;
}
